<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account</title>
</head>
<body>
  <h1>Finance Dashboard</h1>
  <div id="transactions"></div>
  <script>
    const user_id = '<%= user_id %>'
    async function fetchData() {
      const response = await fetch(`/api/transactionsSync?user_id=${user_id}`)
      const transaction_data = await response.json()
      const simplifiedData = transaction_data.transactions.map((item) => {
        return {
          date: item.date,
          name: item.name,
          amount: `$${item.amount.toFixed(2)}`,
          categories: item.category.join(", "),
        }
      })

      document.querySelector("#transactions").textContent = JSON.stringify(simplifiedData, null, 2)
    }

    fetchData()
    
  </script>
</body>
</html>
