<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Transactions</title>
  </head>
  <body>
    <h1>Personal Finance Dashboard</h1>
    <div id="vizContainer" style="width: 800px; height: 700px"></div>
    <table class="transactions-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Account</th>
        </tr>
      </thead>
      <tbody id="transactionsBody"></tbody>
    </table>

    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
        initViz();
        fetchTransactionData();
      });

      function initViz() {
        const containerDiv = document.getElementById("vizContainer");
        const url = "https://public.tableau.com/views/TransactionsData_17111573218990/Sheet1?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link";
        const options = {
          hideTabs: true,
          onFirstInteractive: function () {
            console.log("Viz has finished loading.");
          },
        };

        new tableau.Viz(containerDiv, url, options);
      }

      async function fetchTransactionData() {
        try {
          const response = await fetch("/transaction/transactionsSync");
          const data = await response.json();
          displayTransactions(data);
        } catch (error) {
          console.error("Error fetching transaction data:", error);
        }
      }

      function displayTransactions(transactions) {
        const tableBody = document.getElementById("transactionsBody");
        tableBody.innerHTML = "";

        transactions.forEach(({ name, category, amount, date }) => {
          const row = document.createElement("tr");

          row.appendChild(createCell(name));
          row.appendChild(createCell(category));
          row.appendChild(createCell(amount));
          row.appendChild(createCell(date));

          tableBody.appendChild(row);
        });
      }

      function createCell(content) {
        const cell = document.createElement("td");
        cell.textContent = content;
        return cell;
      }

      
    </script>
  </body>
</html>